@media screen  and (max-width: 600px){
    header {
        flex-direction: column !important;
    }
}

@media screen and (max-width: 469px) {
    .result .student-answers .super-card{
        align-items: center;
    }
}

@media screen and (max-width: 379px) {
    header .logo {
        flex-direction: column !important;
    }

    .subjects .cards .card {
        flex-direction: column !important;
    }
}